
<header class="container-fluid">
    <div style="background-image: url('assets/img/placeholder.jpg'); width: 100%; text-align: center; color: white; padding: 30px;
        padding-top: 70px">
    <h2> An Online Business Community</h2>
    <h3> Let's Connect, Collaborate and Grow </h3>
    <br><br>
    <button class="btn btn-primary">Create Profile</button>
    </div>
</header>
<br>
<div class="container-fluid services">
    <div class="row" style = "padding: 20px;">
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-handshake-o" aria-hidden="true" ></i>
                <br><br>
                Cofounder 	&amp; Partner</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-flag" aria-hidden="true" ></i>
                <br><br>
                Start-up Company</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-dollar" aria-hidden="true" ></i>
                <br><br>
                Investor</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fas fa-4x fa-landmark" aria-hidden="true" ></i>
                <br><br>
                Incubator</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-user" aria-hidden="true" ></i>
                <br><br>
                Intern</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-user" aria-hidden="true" ></i>
                <br><br>
                Freelancer</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-legal" aria-hidden="true" ></i>
                <br><br>
                Legal and Approval</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-certificate" aria-hidden="true" ></i>
                <br><br>
                Certification and Learning</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fas fa-4x fa-hand-peace" aria-hidden="true" ></i>
                <br><br>
                Event Organiser</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-bullhorn" aria-hidden="true" ></i>
                <br><br>
                Business Consultant</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-search" aria-hidden="true" ></i>
                <br><br>
                Digital Marketting</div>
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <div class="card" style="text-align: center;">
                <div class="card-body">
                <i class="fa fa-4x fa-globe" aria-hidden="true" ></i>
                <br><br>
                Web Design</div>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid">
    <div style="background-image: url('assets/img/placeholder.jpg'); width: 100%; padding: 20px; color: white">
    <h2> One Stop Startup Solution</h2>
    <br>
    <button class="btn btn-primary">Click Here to get started</button>
    </div>
</div>
<br>
<div class="container-fluid">
    <h3> Trending Stories </h3>
    <div style="background-image: url('assets/img/placeholder.jpg'); width: 100%; height: 400px; color: white">
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="padding: 20px">
        <div class="col-md-7 justify-content-center" >
        <h3 style="text-align: center;">Ask A Question </h3>
            <form>
                <div class="form-group">
                    <label for="question-category">Category</label>
                    <select class="form-control" id="question-category">
                    <option>Technology</option>
                    <option>IT</option>
                    <option>Electronics</option>
                    <option>Electrical</option>
                    <option>Agriculture</option>
                    </select>
                </div>
                <input class="form-control" type="text" placeholder="Heading">
                <br>
                <textarea class="form-control" id="question-textbox" rows="3" placeholder="Type Question Here"></textarea>
                <br>
                <button type="submit" class="btn btn-primary">Post Question</button>
            </form>
        </div>
        <div class='col-md-5' style="text-align: left; padding: 10px 20px;">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <h3>Information </h3>
                    Home <br>
                    Create Profile <br>
                    Login <br>
                    Verified Profile <br>
                    Story <br>
                    Member <br>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h3>Help </h3>
                    How it Works <br>
                    Faq <br>
                    Feedback <br>
                    Contact <br>
                </div>
                <div class="col-lg-4 col-md-12">
                    <h3>Company</h3>
                    About Us <br>
                    Become our Partner <br>
                    Career <br>
                    Istart <br>
                </div>
            </div>
        </div>
    </div>
</div>