/* general styling */
.login-card {
    margin-left: 10vw;
    margin-right: 10vw;
    width: 80vw;
}
.profile-row {
    border-bottom: 1px dotted #4588ba; 
    padding: 7px;
    margin-bottom:10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .login-card{
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }
    .profile-card{
        width: 98vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .profile-card{
        width: 96vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .profile-card{
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .profile-card{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .profile-card{
        width: 60vw;
        margin-left: 20vw;
        margin-right: 20vw;
    }
} 